directorio.rar
bd/20250419_api-revistas.sql
bd/20250612_1058_api_revistas.sql
node_modules
auth/node_modules
back/node_modules
front/node_modules
bd/20250605_directorio.sql
revistas.sql
TODO.md
TODO_FILTROS.md
bd/*.*
*.sql
recursos/*.*
recursos/nc/c1/package-lock.json
recursos/nc/c1/package.json
recursos/nc/c1/README.md
recursos/nc/c1/tsconfig.json
recursos/nc/c1/vite.config.ts
recursos/nc/c1/src/App.vue
recursos/nc/c1/src/index.css
recursos/nc/c1/src/main.js
recursos/nc/c1/src/quasar-variables.sass
recursos/nc/c2/.env.example
recursos/nc/c2/.gitignore
recursos/nc/c2/index.html
recursos/nc/c2/metadata.json
recursos/nc/c2/módulo-de-registro---identificación-de-servicios.zip
recursos/nc/c2/package-lock.json
recursos/nc/c2/package.json
recursos/nc/c2/README.md
recursos/nc/c2/tsconfig.json
recursos/nc/c2/vite.config.ts
recursos/nc/c2/src/App.vue
recursos/nc/c2/src/index.css
recursos/nc/c2/src/main.js
recursos/nc/c2/src/quasar-variables.sass
recursos/nc/c3/.env.example
recursos/nc/c3/.gitignore
recursos/nc/c3/index.html
recursos/nc/c3/metadata.json
recursos/nc/c3/package-lock.json
recursos/nc/c3/package.json
recursos/nc/c3/README.md
recursos/nc/c3/registro-de-servicios - copia.zip
recursos/nc/c3/tsconfig.json
recursos/nc/c3/vite.config.ts
recursos/nc/c3/src/App.vue
recursos/nc/c3/src/index.css
recursos/nc/c3/src/main.js
recursos/nc/c3/src/quasar-variables.sass
recursos/nc/c4/.env.example
recursos/nc/c4/.gitignore
recursos/nc/c4/index.html
recursos/nc/c4/metadata.json
recursos/nc/c4/package-lock.json
recursos/nc/c4/package.json
recursos/nc/c4/README.md
recursos/nc/c4/registro-de-servicios.zip
recursos/nc/c4/tsconfig.json
recursos/nc/c4/vite.config.ts
recursos/nc/c4/src/App.vue
recursos/nc/c4/src/index.css
recursos/nc/c4/src/main.js
recursos/nc/c4/src/quasar-variables.sass
recursos/nc/c5/stitch.zip
recursos/nc/c5/stitch/identificaci_n_de_servicios/code.html
recursos/nc/c5/stitch/identificaci_n_de_servicios/screen.png
recursos/nc/c5/stitch/inmueble_y_verificaci_n/code.html
recursos/nc/c5/stitch/inmueble_y_verificaci_n/screen.png
recursos/nc/c5/stitch/personal_asistencial/code.html
recursos/nc/c5/stitch/personal_asistencial/screen.png
recursos/nc/c5/stitch/pg2.png/screen.png
recursos/nc/c1/.env.example
recursos/nc/c1/.gitignore
recursos/nc/c1/index.html
recursos/nc/c1/metadata.json
recursos/nc/c1/módulo-de-registro---identificación-de-servicios - copia.zip
recursos/nc/c2/.env.example
recursos/nc/c3/.env.example
recursos/nc/c4/.env.example

front/src/pages/MarcoLegagal.bak
