directorio.rar
bd/20250419_api-revistas.sql
bd/20250612_1058_api_revistas.sql
node_modules
auth/node_modules
back/node_modules
front/node_modules
bd/20250605_directorio.sql
revistas.sql
TODO.md
TODO_FILTROS.md
